.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 40px;
}

.header-logo {
	display: flex;
	align-items: center;
	column-gap: 13px;
}

.header-logo__img {
	min-width: 30px;
	max-width: 30px;
}

.header-logo__name {
	font-size: 20px;
	font-weight: 700;
	color: var(--text-title);
}

.header-logo__name .accent {
	font-weight: 600;
}

.header-menu {
	display: flex;
	column-gap: 24px;
	font-size: 15px;
}

@media screen and (max-width: 479px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 22px;
	}
}