h1,
.h1 {
	font-weight: 700;
	font-size: 34px;
	line-height: 38px;
	color: var(--text-title);
}

h2,
.h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: var(--text-title);
}

.accent {
	color: var(--text-accent);
}

@media screen and (max-width: 767px) {

	h1,
	.h1 {
		font-size: 24px;
		line-height: 27px;
	}

	h2,
	.h2 {
		font-size: 20px;
		line-height: 24px;
	}
}